_ Complaint Intelligence Router.json
{
  "name": ": Complaint Intelligence Router",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "“Hi! I’m your assistant for citizen complaints. What would you like to report today?”",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        -64
      ],
      "id": "33a67bf0-f31a-4ad6-bc62-0bbcd00a182d",
      "name": "When chat message received",
      "webhookId": "0ad88005-491c-4217-b75d-a395f0665cff"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a helpful assistant for citizen complaint reporting.\n\nYour task is to extract the following fields from the user's message:\n- name\n- age\n- complaintType\n- message\n- email\n\nRespond in valid JSON format only, without any extra text or markdown.\n\nIf any field is missing, return it as `null`, and include a follow-up message asking the user to provide the missing details.\n\nExample output:\n{\n  \"name\": \"Rakshitha\",\n  \"age\": null,\n  \"complaintType\": \"Theft\",\n  \"message\": \"I want to report a theft.\",\n  \"email\": null,\n  \"followUp\": \"Thanks, Rakshitha. Could you please share your age and email so I can proceed?\"\n}\n\nUser message: \"{{ $json.message }}\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        448,
        -64
      ],
      "id": "1b1746ab-1f1f-437b-8461-9c3f04ef7086",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        384,
        128
      ],
      "id": "7122089d-58c1-4975-a4e0-fcf58fa5f552",
      "name": "Google Gemini Chat Model",
      "notesInFlow": false,
      "credentials": {
        "googlePalmApi": {
          "id": "A5T57MUIeEFhkFYN",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        480,
        128
      ],
      "id": "02f18f05-131e-41d9-9e58-f23541771071",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output;\n{{$json[\"followUp\"] || \"Your complaint has been received. Thank you!\"}}\n\n// Step 1: Remove Markdown formatting\nconst cleaned = raw.replace(/```json|```/g, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  parsed = {\n    name: \"Unknown\",\n    age: 0,\n    complaintType: \"Other\",\n    message: raw\n  };\n}\n\n// Step 2: Fallbacks\nparsed.name = parsed.name || \"Unknown\";\nparsed.age = parsed.age || 0;\nparsed.complaintType = parsed.complaintType || \"Other\";\nparsed.message = parsed.message || \"No message\";\n\nreturn [{ json: parsed }];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -48
      ],
      "id": "a34fc57d-d301-407e-8778-a332015a45c7",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2b527043-3f26-4ebf-9ec3-b4505b535c7d",
              "leftValue": "={{ $json.age }}",
              "rightValue": 18,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1104,
        -48
      ],
      "id": "07382a6e-deda-4084-80fc-f92e5c538d15",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.complaintType }}",
                    "rightValue": "Theft",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "15517af7-9144-4b3e-8c28-24df7237c767"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "theft"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "84c3ebc1-06f9-4022-93a5-64f75c297a39",
                    "leftValue": "={{ $json.complaintType }}",
                    "rightValue": "Cybercrime",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cyber Crime"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b43e27ce-415c-493a-abf8-d92f3f851200",
                    "leftValue": "={{ $json.complaintType }}",
                    "rightValue": "Sexual Assault",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sexual Assault"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "44597dd6-4ac3-467b-b4cc-e4a68f62315d",
                    "leftValue": "={{ $json.complaintType }}",
                    "rightValue": "Killing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Killing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "be7b09c2-b70f-4ea5-a6e6-ee493e3d8251",
                    "leftValue": "={{ $json.complaintType }}",
                    "rightValue": "Other",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Other"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1312,
        -106.92504570383912
      ],
      "id": "2e3a5133-a493-4dc3-9e00-aea27535c6ba",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1vuM55Sgp_BSZwaN902i15aE0E1bwFbjjFkCnStxbTk4/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vuM55Sgp_BSZwaN902i15aE0E1bwFbjjFkCnStxbTk4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name ": "={{ $json.name }}",
            "age": "={{ $json.age }}",
            "message": "={{ $json.message }}",
            "complaintType": "={{ $json.complaintType }}",
            "email": "={{ $json.email }}",
            "timestamp": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name ",
              "displayName": "name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "age",
              "displayName": "age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "complaintType",
              "displayName": "complaintType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1520,
        -170.10603290676417
      ],
      "id": "3785503c-a7e8-423b-bdc3-83ebe2337518",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X2SRnH81XQpOwv8y",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c2c7b2f8-02f5-4c1f-a266-b9e8314f01e3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "182256aa911854faad1a13c6a9564b6440cee62ce6e36832364ecaebf83d29a3"
  },
  "id": "NavjYmd6EeozBlQK",
  "tags": []
}