Citizen Complaint Response Automation.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "“Hi! I’m your assistant for citizen complaints. What would you like to report today?”",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1280,
        112
      ],
      "id": "24b9cf5d-6e06-4513-97d2-920a13c07846",
      "name": "When chat message received",
      "webhookId": "0ad88005-491c-4217-b75d-a395f0665cff"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a helpful assistant for citizen complaint reporting.\n\nYour task is to extract the following fields from the user's message:\n- name\n- age\n- complaintType\n- message\n- email\n\nRespond in valid JSON format only, without any extra text or markdown.\n\nIf any field is missing, return it as `null`, and include a follow-up message asking the user to provide the missing details.\n\nExample output:\n{\n  \"name\": \"Rakshitha\",\n  \"age\": null,\n  \"complaintType\": \"Theft\",\n  \"message\": \"I want to report a theft.\",\n  \"email\": null,\n  \"followUp\": \"Thanks, Rakshitha. Could you please share your age and email so I can proceed?\"\n}\n\nUser message: \"{{ $json.message }}\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1072,
        112
      ],
      "id": "2d85e46a-0633-4ebe-a660-95435b829613",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1136,
        304
      ],
      "id": "64313623-ec48-43bc-baa6-6d1bc76298d9",
      "name": "Google Gemini Chat Model",
      "notesInFlow": false,
      "credentials": {
        "googlePalmApi": {
          "id": "TyhZbLfADkb0k6sh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1008,
        336
      ],
      "id": "8faf7008-e9ae-4128-81d8-1c09c258de03",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output;\n{{$json[\"followUp\"] || \"Your complaint has been received. Thank you!\"}}\n\n// Step 1: Remove Markdown formatting\nconst cleaned = raw.replace(/```json|```/g, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  parsed = {\n    name: \"Unknown\",\n    age: 0,\n    complaintType: \"Other\",\n    message: raw\n  };\n}\n\n// Step 2: Fallbacks\nparsed.name = parsed.name || \"Unknown\";\nparsed.age = parsed.age || 0;\nparsed.complaintType = parsed.complaintType || \"Other\";\nparsed.message = parsed.message || \"No message\";\n\nreturn [{ json: parsed }];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        128
      ],
      "id": "b6575808-a69c-4491-a4b1-5c2d2754acfd",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2b527043-3f26-4ebf-9ec3-b4505b535c7d",
              "leftValue": "={{ $json.age }}",
              "rightValue": 18,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -416,
        128
      ],
      "id": "f9a65e84-3827-4db0-9cfc-33bf3dc46c21",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.complaintType }}",
                    "rightValue": "Theft",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "15517af7-9144-4b3e-8c28-24df7237c767"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "theft"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "84c3ebc1-06f9-4022-93a5-64f75c297a39",
                    "leftValue": "={{ $json.complaintType }}",
                    "rightValue": "Cybercrime / Phishing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cyber Crime"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b43e27ce-415c-493a-abf8-d92f3f851200",
                    "leftValue": "={{ $json.complaintType }}",
                    "rightValue": "Harassment / Assault",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sexual Assault"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "44597dd6-4ac3-467b-b4cc-e4a68f62315d",
                    "leftValue": "={{ $json.complaintType }}",
                    "rightValue": "Killing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Killing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "be7b09c2-b70f-4ea5-a6e6-ee493e3d8251",
                    "leftValue": "={{ $json.complaintType }}",
                    "rightValue": "Other",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Other"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -208,
        64
      ],
      "id": "497ee8c1-5aec-421f-b463-59406c3845a4",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "cyberalerts.team@gmail.com",
        "subject": "=Cybercrime Report from {{$json[\"name\"]}}",
        "emailType": "text",
        "message": "=Complaint Type: Cybercrime \nName: {{$json[\"name\"]}}  \nAge: {{$json[\"age\"]}}  \nMessage: {{$json[\"message\"]}}  \nEmail: {{$json[\"email\"]}}  ",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        80,
        -96
      ],
      "id": "01bd9010-1865-4d0f-aa93-36e61ae14387",
      "name": "Gmail_Cybercrime",
      "webhookId": "c534c2c7-251d-4b8a-818c-feef4b352216",
      "credentials": {
        "gmailOAuth2": {
          "id": "jGmPcJYeshcl3xSZ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "assaultresponse.sart@gmail.com",
        "subject": "=Sexual Assault Report from {{$json[\"name\"]}}",
        "emailType": "text",
        "message": "=Complaint Type:Sexual Assault\nName: {{$json[\"name\"]}} \nAge: {{$json[\"age\"]}}\nMessage: {{$json[\"message\"]}}   \nEmail: {{$json[\"email\"]}}  ",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        96,
        80
      ],
      "id": "a38c95fa-cd76-4ffa-84bc-4adac61e4636",
      "name": "Gmail_Assault",
      "webhookId": "20cd20a7-b633-4d9d-a15d-871b0529a1d1",
      "credentials": {
        "gmailOAuth2": {
          "id": "jGmPcJYeshcl3xSZ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1vuM55Sgp_BSZwaN902i15aE0E1bwFbjjFkCnStxbTk4/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vuM55Sgp_BSZwaN902i15aE0E1bwFbjjFkCnStxbTk4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name ": "={{ $json.name }}",
            "age": "={{ $json.age }}",
            "message": "={{ $json.message }}",
            "complaintType": "={{ $json.complaintType }}",
            "email": "={{ $json.email }}",
            "timestamp": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name ",
              "displayName": "name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "age",
              "displayName": "age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "complaintType",
              "displayName": "complaintType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        48,
        -256
      ],
      "id": "f6a1db55-7199-43f7-9894-52e3207a8a94",
      "name": "Sheets_Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1ltjB4PSGyMG4Fez",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Sheets_Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail_Cybercrime",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sheets_Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail_Assault",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sheets_Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e49082a6-8530-4162-b8f3-7136c34fd28f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4d79e670f2b03620d4b97d15577aacb8edff80c077ad0ada49e37746346db936"
  },
  "id": "5XmqRoRaeUo5SUh2",
  "tags": []
}